<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.demo.mapper.GamePlayTypeEntityMapper">
<!--    <select id="getList" resultType="com.gw.demo.entity.GamePlayTypeEntity">-->
<!--        select * from game_play_type-->
<!--        where 1=1-->
<!--        <if test="name != null &amp;& name != ''">-->
<!--            and name = #{name}-->
<!--        </if>-->
<!--        <if test="status != null && status != ''">-->
<!--            and status = #{status}-->
<!--        </if>-->
<!--        <if test="code != null && code != ''">-->
<!--            and code = #{code}-->
<!--        </if>-->
<!--    </select>-->
<!--    <select id="getList" resultType="com.gw.demo.entity.GamePlayTypeEntity">-->
<!--        select game_play.id,game_play.name,game_play.status,game_play.game_id,game_info.name as game_name ,-->
<!--            game_paly_type.id as game_play_type_id,game_paly_type.name as game_play_type_name-->
<!--        from game_play-->
<!--        left join game_info on game_info.id = game_play.game_id-->
<!--        left join game_paly_type on game_paly_type.id = game_play.game_play_type_id-->
<!--        where 1=1-->
<!--        <if test="gameId != null || gameId ==''">-->
<!--            and game_play.game_id = #{gameId}-->
<!--        </if>-->
<!--        <if test="gamePlayName != null || gamePlayName ==''">-->
<!--            and game_play.game_play_type_id = #{gamePlayName}-->
<!--        </if>-->
<!--        <if test="status!= null || status == ''">-->
<!--            and game_play.status = #{status}-->
<!--        </if>-->
<!--    </select>-->
    <update id="updateStatusById">
        update game_play set status = #{status} where id = #{id}
    </update>
    <select id="getPlantformGame" parameterType="com.gw.demo.entity.dto.PlantformGame"
            resultType="com.gw.demo.entity.dto.PlantformGame">
        select game_info.id, game_info.`name`, game_info.`status`, game_info.icon, game_info.`order`, game_info.type, plantform_info.platform_name
        from game_info
                 left join plantform_game on game_info.id = plantform_game.game_id
                 left join plantform_info on plantform_game.plantform_id = plantform_info.id
        where 1=1
        <if test="plantformId != null and plantformId != ''">
            and plantform_game.plantform_id = #{plantformId}
        </if>
        <if test="type != null and type != ''">
            and game_info.type = #{type}
        </if>
        <if test="status != null and status != ''">
            and game_info.status = #{status}
        </if>
        </select>
    <select id="getByGamePlayStatus" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select status from
                          game_play
        where game_play_type_id = #{gamePlayId}
    </select>
</mapper>
